# node modules
node_modules/

# ouput files
**/.turbo/
**/.build/
**/build

# next.js
**/.next/
**/out/

# env file
.env

# debug
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# svelte
**/build
**/.svelte-kit
**/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/project/db/generated/**/*

.DS_Store

shared/db/generated/**/*