name: Publish Handler Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'project/handler/**'
      - 'shared/**'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  HANDLER_IMAGE_NAME: ${{ github.repository }}-handler

jobs:
  publish-handler-image:
    name: Publish Handler Docker Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Handler Docker image
        uses: docker/build-push-action@v6
        with:
          file: project/handler/Dockerfile
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.HANDLER_IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.HANDLER_IMAGE_NAME }}:${{ github.sha }}

  deploy-handler:
    name: Deploy Handler
    runs-on: ubuntu-latest

    needs: publish-handler-image

    permissions:
      contents: read
      packages: write

    steps:
      - name: Trigger Deployment via API
        run: |
          set -e
          curl -X POST "${{ secrets.DEPLOYMENT_URL }}"    \
            -H 'accept: application/json'                 \
            -H 'Content-Type: application/json'           \
            -H 'X-API-Key: ${{ secrets.DEPLOYMENT_KEY }}' \
            -d '{ "applicationId": "${{ secrets.HANDLER_APPLICATION_ID }}" }'