name: Publish Website Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'project/website/**'
      - 'shared/**'
      - 'project/website/pnpm-lock.yaml'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  WEBSITE_IMAGE_NAME: ${{ github.repository }}-website

jobs:
  publish-website-image:
    name: Publish Website Docker Image
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Website Docker image
        uses: docker/build-push-action@v6
        with:
          file: project/website/Dockerfile
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.WEBSITE_IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.WEBSITE_IMAGE_NAME }}:${{ github.sha }}

  deploy-website:
    name: Deploy Website
    runs-on: ubuntu-latest

    needs: publish-website-image

    permissions:
      contents: read
      packages: write

    steps:
      - name: Trigger Deployment via API
        run: |
          set -e
          echo "Deploying website with Application ID: ${{ secrets.WEBSITE_APPLICATION_ID }}"
          curl -X POST "${{ secrets.DEPLOYMENT_URL }}"    \
            -H 'accept: application/json'                 \
            -H 'Content-Type: application/json'           \
            -H 'X-API-Key: ${{ secrets.DEPLOYMENT_KEY }}' \
            -d '{ "applicationId": "${{ secrets.WEBSITE_APPLICATION_ID }}" }'